/* D0Z3R color scheme */
$D0Z3R-background: #484848;
$D0Z3R-primary: #A8272E;
$D0Z3R-secondary: #CCAD43;
$D0Z3R-tertiary: #F51216;
$D0Z3R-warning: #703B59;
$D0Z3R-navbar: #242424;
$D0Z3R-navbar-text: #ffffff;
$D0Z3R-navbar-text-secondary: darken(#ffffff, 20%);
$hover-darken-percent: 2%;
$active-darken-percent: 5%;

/* D0Z3R Theme class */
.D0Z3R-theme {

  // Background colors
  .bg {
    background-color: $D0Z3R-background
  }

  .bg-primary {
    background-color: $D0Z3R-primary
  }

  .bg-secondary {
    background-color: $D0Z3R-secondary
  }

  .bg-tertiary {
    background-color: $D0Z3R-tertiary
  }

  .bg-warning {
    background-color: $D0Z3R-warning
  }

  .bg-navbar {
    background-color: $D0Z3R-navbar
  }

  // Navbar & Header themes
  .header {
    display: flex;
    width: 100%;
    padding: 7px 0px;
  }

  .nav {
    display: flex;
    user-select: none;
    list-style: none;
    gap: 10px;
    .nav-item {
      color: $D0Z3R-navbar-text;
    }
  }

  .navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  // header dropdown
  .dropdown-menu li a:hover {
    background-color: $D0Z3R-navbar;
    color: white;
  }

  .brand {
    display: flex;
    align-items: center;
    gap: 5px;
    user-select: none;
  }

  // Buttons themes
  .btn {
    background-color: $D0Z3R-background;
    color: white;

    &:hover {
      background-color: darken($D0Z3R-background, $hover-darken-percent);
    }

    &:active {
      background-color: darken($D0Z3R-background, $active-darken-percent);
    }
  }

  .btn-link {
    display: flex;
    align-items: center;
    gap: 2px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
    color: white;

    &:hover {
      background-color: lighten(#ffffff42, $hover-darken-percent);
    }
  }

  .btn-primary {
    background-color: $D0Z3R-primary;
    color: white;

    &:hover {
      background-color: darken($D0Z3R-primary, $hover-darken-percent);
    }

    &:active {
      background-color: darken($D0Z3R-primary, $active-darken-percent);
    }
  }

  .btn-secondary {
    background-color: $D0Z3R-secondary;
    color: white;

    &:hover {
      background-color: darken($D0Z3R-secondary, $hover-darken-percent);
    }

    &:active {
      background-color: darken($D0Z3R-secondary, $active-darken-percent);
    }
  }

  .btn-tertiary {
    background-color: $D0Z3R-tertiary;
    color: black;

    &:hover {
      background-color: darken($D0Z3R-tertiary, $hover-darken-percent);
    }

    &:active {
      background-color: darken($D0Z3R-tertiary, $active-darken-percent);
    }
  }

  .btn-warning {
    background-color: $D0Z3R-warning;
    color: white;

    &:hover {
      background-color: darken($D0Z3R-warning, $hover-darken-percent);
    }

    &:active {
      background-color: darken($D0Z3R-warning, $active-darken-percent);
    }
  }

  .btn-navbar {
    background-color: $D0Z3R-navbar;
    color: white;

    &:hover {
      background-color: darken($D0Z3R-navbar, $hover-darken-percent);
    }

    &:active {
      background-color: darken($D0Z3R-navbar, $active-darken-percent);
    }
  }

  .loader {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: $D0Z3R-tertiary;
    box-shadow: 0 0 0 0 darken($D0Z3R-tertiary,  10%);
    animation: l1 1s infinite;
  }

  .text-tertiary {
    color: $D0Z3R-tertiary;
  }

  .text-primary {
    color: $D0Z3R-primary;
  }

  .text-secondary {
    color: $D0Z3R-secondary;
  }

  .text-warning {
    color: $D0Z3R-warning;
  }

  .text-navbar {
    color: $D0Z3R-navbar;
  }
  
  .text-navbar-text {
    color: $D0Z3R-navbar-text;
  }

  @keyframes l1 {
    100% {
      box-shadow: 0 0 0 30px #0000
    }
  }
}