/* masky color scheme */
$masky-background: #313869;
$masky-primary: #842c2c;
$masky-secondary: #515151;
$masky-tertiary: #135593;
$masky-warning: #a8752f;
$masky-navbar: #333333;
$masky-navbar-text: #ffffff;
$masky-navbar-text-secondary: darken(#ffffff, 20%);
$hover-darken-percent: 2%;
$active-darken-percent: 5%;

/* masky Theme class */
.masky-theme {

  // Background colors
  .bg {
    background-color: $masky-background
  }

  .bg-primary {
    background-color: $masky-primary
  }

  .bg-secondary {
    background-color: $masky-secondary
  }

  .bg-tertiary {
    background-color: $masky-tertiary
  }

  .bg-warning {
    background-color: $masky-warning
  }

  .bg-navbar {
    background-color: $masky-navbar
  }

  // Navbar & Header themes
  .header {
    display: flex;
    width: 100%;
    padding: 7px 0px;
  }

  .nav {
    display: flex;
    user-select: none;
    list-style: none;
    gap: 10px;
    .nav-item {
      color: $masky-navbar-text;
    }
  }

  .navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  // header dropdown
  .dropdown-menu li a:hover {
    background-color: $masky-navbar;
    color: white;
  }

  .brand {
    display: flex;
    align-items: center;
    gap: 5px;
    user-select: none;
  }

  // Buttons themes
  .btn {
    background-color: $masky-background;
    color: white;

    &:hover {
      background-color: darken($masky-background, $hover-darken-percent);
    }

    &:active {
      background-color: darken($masky-background, $active-darken-percent);
    }
  }

  .btn-link {
    display: flex;
    align-items: center;
    gap: 2px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
    color: white;

    &:hover {
      background-color: lighten(#ffffff42, $hover-darken-percent);
    }
  }

  .btn-primary {
    background-color: $masky-primary;
    color: white;

    &:hover {
      background-color: darken($masky-primary, $hover-darken-percent);
    }

    &:active {
      background-color: darken($masky-primary, $active-darken-percent);
    }
  }

  .btn-secondary {
    background-color: $masky-secondary;
    color: white;

    &:hover {
      background-color: darken($masky-secondary, $hover-darken-percent);
    }

    &:active {
      background-color: darken($masky-secondary, $active-darken-percent);
    }
  }

  .btn-tertiary {
    background-color: $masky-tertiary;
    color: black;

    &:hover {
      background-color: darken($masky-tertiary, $hover-darken-percent);
    }

    &:active {
      background-color: darken($masky-tertiary, $active-darken-percent);
    }
  }

  .btn-warning {
    background-color: $masky-warning;
    color: white;

    &:hover {
      background-color: darken($masky-warning, $hover-darken-percent);
    }

    &:active {
      background-color: darken($masky-warning, $active-darken-percent);
    }
  }

  .btn-navbar {
    background-color: $masky-navbar;
    color: white;

    &:hover {
      background-color: darken($masky-navbar, $hover-darken-percent);
    }

    &:active {
      background-color: darken($masky-navbar, $active-darken-percent);
    }
  }

  .loader {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: $masky-tertiary;
    box-shadow: 0 0 0 0 darken($masky-tertiary,  10%);
    animation: l1 1s infinite;
  }

  .text-tertiary {
    color: $masky-tertiary;
  }

  .text-primary {
    color: $masky-primary;
  }

  .text-secondary {
    color: $masky-secondary;
  }

  .text-warning {
    color: $masky-warning;
  }

  .text-navbar {
    color: $masky-navbar;
  }
  
  .text-navbar-text {
    color: $masky-navbar-text;
  }

  @keyframes l1 {
    100% {
      box-shadow: 0 0 0 30px #0000
    }
  }
}