/* node color scheme */
$node-background: #3E6F3B;
$node-primary: #5BAB45;
$node-secondary: #205532;
$node-tertiary: #333133;
$node-warning: #88AC9A;
$node-navbar: #333133;
$node-navbar-text: #ffffff;
$node-navbar-text-secondary: darken(#ffffff, 20%);
$hover-darken-percent: 2%;
$active-darken-percent: 5%;

/* node Theme class */
.node-theme {

  // Background colors
  .bg {
    background-color: $node-background
  }

  .bg-primary {
    background-color: $node-primary
  }

  .bg-secondary {
    background-color: $node-secondary
  }

  .bg-tertiary {
    background-color: $node-tertiary
  }

  .bg-warning {
    background-color: $node-warning
  }

  .bg-navbar {
    background-color: $node-navbar
  }

  // Navbar & Header themes
  .header {
    display: flex;
    width: 100%;
    padding: 7px 0px;
  }

  .nav {
    display: flex;
    user-select: none;
    list-style: none;
    gap: 10px;
    .nav-item {
      color: $node-navbar-text;
    }
  }

  .navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  // header dropdown
  .dropdown-menu li a:hover {
    background-color: $node-navbar;
    color: white;
  }

  .brand {
    display: flex;
    align-items: center;
    gap: 5px;
    user-select: none;
  }

  // Buttons themes
  .btn {
    background-color: $node-background;
    color: white;

    &:hover {
      background-color: darken($node-background, $hover-darken-percent);
    }

    &:active {
      background-color: darken($node-background, $active-darken-percent);
    }
  }

  .btn-link {
    display: flex;
    align-items: center;
    gap: 2px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
    color: white;

    &:hover {
      background-color: lighten(#ffffff42, $hover-darken-percent);
    }
  }

  .btn-primary {
    background-color: $node-primary;
    color: white;

    &:hover {
      background-color: darken($node-primary, $hover-darken-percent);
    }

    &:active {
      background-color: darken($node-primary, $active-darken-percent);
    }
  }

  .btn-secondary {
    background-color: $node-secondary;
    color: white;

    &:hover {
      background-color: darken($node-secondary, $hover-darken-percent);
    }

    &:active {
      background-color: darken($node-secondary, $active-darken-percent);
    }
  }

  .btn-tertiary {
    background-color: $node-tertiary;
    color: black;

    &:hover {
      background-color: darken($node-tertiary, $hover-darken-percent);
    }

    &:active {
      background-color: darken($node-tertiary, $active-darken-percent);
    }
  }

  .btn-warning {
    background-color: $node-warning;
    color: white;

    &:hover {
      background-color: darken($node-warning, $hover-darken-percent);
    }

    &:active {
      background-color: darken($node-warning, $active-darken-percent);
    }
  }

  .btn-navbar {
    background-color: $node-navbar;
    color: white;

    &:hover {
      background-color: darken($node-navbar, $hover-darken-percent);
    }

    &:active {
      background-color: darken($node-navbar, $active-darken-percent);
    }
  }

  .loader {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: $node-tertiary;
    box-shadow: 0 0 0 0 darken($node-tertiary,  10%);
    animation: l1 1s infinite;
  }

  .text-tertiary {
    color: $node-tertiary;
  }

  .text-primary {
    color: $node-primary;
  }

  .text-secondary {
    color: $node-secondary;
  }

  .text-warning {
    color: $node-warning;
  }

  .text-navbar {
    color: $node-navbar;
  }
  
  .text-navbar-text {
    color: $node-navbar-text;
  }

  @keyframes l1 {
    100% {
      box-shadow: 0 0 0 30px #0000
    }
  }
}