/* python color scheme */
$python-background: #2F5574;
$python-primary: #306998;
$python-secondary: #c7a300;
$python-tertiary: #4BBE71;
$python-warning: #FF8800;
$python-navbar: #306998;
$python-navbar-text: #ffffff;
$python-navbar-text-secondary: darken(#ffffff, 20%);
$hover-darken-percent: 2%;
$active-darken-percent: 5%;

/* python Theme class */
.python-theme {

  // Background colors
  .bg {
    background-color: $python-background
  }

  .bg-primary {
    background-color: $python-primary
  }

  .bg-secondary {
    background-color: $python-secondary
  }

  .bg-tertiary {
    background-color: $python-tertiary
  }

  .bg-warning {
    background-color: $python-warning
  }

  .bg-navbar {
    background-color: $python-navbar
  }

  // Navbar & Header themes
  .header {
    display: flex;
    width: 100%;
    padding: 7px 0px;
  }

  .nav {
    display: flex;
    user-select: none;
    list-style: none;
    gap: 10px;
    .nav-item {
      color: $python-navbar-text;
    }
  }

  .navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  // header dropdown
  .dropdown-menu li a:hover {
    background-color: $python-navbar;
    color: white;
  }

  .brand {
    display: flex;
    align-items: center;
    gap: 5px;
    user-select: none;
  }

  // Buttons themes
  .btn {
    background-color: $python-background;
    color: white;

    &:hover {
      background-color: darken($python-background, $hover-darken-percent);
    }

    &:active {
      background-color: darken($python-background, $active-darken-percent);
    }
  }

  .btn-link {
    display: flex;
    align-items: center;
    gap: 2px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
    color: white;

    &:hover {
      background-color: lighten(#ffffff42, $hover-darken-percent);
    }
  }

  .btn-primary {
    background-color: $python-primary;
    color: white;

    &:hover {
      background-color: darken($python-primary, $hover-darken-percent);
    }

    &:active {
      background-color: darken($python-primary, $active-darken-percent);
    }
  }

  .btn-secondary {
    background-color: $python-secondary;
    color: white;

    &:hover {
      background-color: darken($python-secondary, $hover-darken-percent);
    }

    &:active {
      background-color: darken($python-secondary, $active-darken-percent);
    }
  }

  .btn-tertiary {
    background-color: $python-tertiary;
    color: black;

    &:hover {
      background-color: darken($python-tertiary, $hover-darken-percent);
    }

    &:active {
      background-color: darken($python-tertiary, $active-darken-percent);
    }
  }

  .btn-warning {
    background-color: $python-warning;
    color: white;

    &:hover {
      background-color: darken($python-warning, $hover-darken-percent);
    }

    &:active {
      background-color: darken($python-warning, $active-darken-percent);
    }
  }

  .btn-navbar {
    background-color: $python-navbar;
    color: white;

    &:hover {
      background-color: darken($python-navbar, $hover-darken-percent);
    }

    &:active {
      background-color: darken($python-navbar, $active-darken-percent);
    }
  }

  .loader {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: $python-tertiary;
    box-shadow: 0 0 0 0 darken($python-tertiary,  10%);
    animation: l1 1s infinite;
  }

  .text-tertiary {
    color: $python-tertiary;
  }

  .text-primary {
    color: $python-primary;
  }

  .text-secondary {
    color: $python-secondary;
  }

  .text-warning {
    color: $python-warning;
  }

  .text-navbar {
    color: $python-navbar;
  }
  
  .text-navbar-text {
    color: $python-navbar-text;
  }





  @keyframes l1 {
    100% {
      box-shadow: 0 0 0 30px #0000
    }
  }
}